# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# tests
/test-results/
/playwright-report/
/blob-report/
/test-results.json
/test_output.txt

# misc
.worktrees
.DS_Store
*.pem

# IDEs
.vscode/
.zed/
.cursor/
.gemini/
.idea/
